.portfolio__gallery {
  margin: 37px 0 0;
  display: flex;
  position: relative;
  width: 100%;
  align-items: center;
}

@media screen and (min-width: 320px) and (max-width: 640px) {
  .portfolio__gallery {
    margin: 22px 0 0;
  }
}