.footer__form {
  width: 634px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1720px) {
  .footer__form {
    width: 414px;
  }
}

@media screen and (min-width: 570px) and (max-width: 1024px) {
  .footer__form {
    width: 308px;
  }
}

@media screen and (min-width: 320px) and (max-width: 570px) {
  .footer__form {
    width: 90%;
  }
}