.contact-us {
  background-color: #f9f9f9;
  margin: 181px 0 0;
  padding: 108px calc(25% / 2);
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 1024px) and (max-width: 1720px) {
  .contact-us {
    margin: 158px 0 0;
    padding: 72px calc(25% / 2);
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .contact-us {
    margin: 128px 0 0;
    padding: 42px 10%;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .contact-us {
    margin: 64px 0 0;
    padding: 38px 5%;
    flex-direction: column;
  }
}