.main__subtitle {
  font-family: Raleway;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 26px;
  /* or 130% */
  
  
  color: #212121;
  margin: 29px 0 36px;
}

@media screen and (min-width: 1024px) and (max-width: 1720px) {
  .main__subtitle {
    margin: 18px 0 26px;
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .main__subtitle {
    margin: 12px 0 18px;
    font-size: 11px;
    line-height: 18px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .main__subtitle {
    margin: 8px auto 38px;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    max-width: 340px;
  }
}