.slider__left-btn {
  background-image: url(../../../images/Vector1.svg);
  height: 18px;
  width: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  background-color: #fff;
  margin: 0 27px 0 41px;
  cursor: pointer;
  transition: .3s;
}

.slider__left-btn:hover {
  opacity: .8;
}

@media screen and (min-width: 1024px) and (max-width: 1720px) {
  .slider__left-btn {
    height: 12px;
    width: 6px;
    margin: 0 18px 0 32px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .slider__left-btn {
    height: 12px;
    width: 6px;
    margin: 0 18px 0 28px;
  }
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .slider__left-btn {
    height: 12px;
    width: 6px;
    margin: 0 18px 0 28px;
  }
}